{
    "extends": [
      "5minds-typescript/fast",
      "react-app"
    ],
    "env": {
      "browser": true
    },
    "rules": {
      "@typescript-eslint/consistent-type-definitions": ["error", "type"],
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
      ],
      "no-null/no-null": "off",
      "arrow-body-style": "off",
      "@typescript-eslint/consistent-type-assertions": [
        "error",
        {
          "assertionStyle": "as"
        }
      ]
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }
